* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*Below 1200px landscape Tablets */
@media only screen and (max-width: 75em) {
  html {
    font-size: 56%;
  }
}
/*Below 704 (smaller Tablets) */
@media (max-width: 44em) {
  html {
    font-size: 50%;
  }
}
